h2 {
    font-weight: regular;
}

.ultimate {
    background: linear-gradient(to left, #003399, #00ADEF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
