.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-degraded);
}

h1,
h2 {
  color: var(--primary);
}

h2 {
  border-bottom: 1px solid var(--primary-degraded);
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary);
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-degraded);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  color: var(--input-text);
}

.divider {
  border-top: 1px solid var(--primary-degraded);
  margin: 20px 0;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.expiry-date {
  display: flex;
  gap: 10px;
}

.expiry-date select {
  flex: 1;
}
